*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat';
}

.ptn-rtv{
  position: relative;
}

.ptn-absl{
  position: absolute;
}

.flex{
  display: flex;
}

.flex-d{
  flex-direction: row;
}

h1,h2,h3,h4{
  color: white;
}
.bug{
  background-color: lightgray;
  min-height: 50px;
  width: 180px;
  height: 180px;
}
.bug2{
  background-color: lightgreen;
  min-height: 50px;
  width: 50px;
}

ul{
  list-style: none;
}

.btm{
  color: white;
  border: 1px solid white;
  padding: 15px 40px;
  border-radius: 25px;
}

.content{
 width: 100vw;
 height: calc(100vh - 80px);
 background-color:rgb(20, 25, 34) ;
 position: relative;
}

.content .box-content{
 width:calc(100% - 230px);
 overflow: auto;
}

aside{
 width: 230px;
 min-height: 450px;
 height: 100%;
 background-color:black;
 color: gray;
 flex-direction: column;
 justify-content: space-between;
 padding: 15px 15px 0 15px;
}

aside .row-high{
  height: calc(100% - 80px);
  flex-direction: column;
  justify-content: flex-start;
}

aside .row-high .image-spotfy-desktop img{
  width: 140px;
}

aside .row-high .image-spotfy-mobile{
  display: none;
}

aside .row-high .playlist-top{
  padding-top: 10px;
}

aside .row-high .playlist-top,.playlist-down ul li,span{
  padding: 5px 0 10px 3px;
  text-transform:capitalize ;
  font-size: 0.9rem;
}

aside .row-high .playlist-down{
  height: 100%;
  overflow: auto;
}

aside .row-high h3{
  color: white;
  text-transform: capitalize;
  font-size: 1.1rem;
  padding: 5px 0 10px 3px;
}

aside .img-svg{
width: 26px;
height:26px;
}

aside .row-low{
  height: 80px;
}

aside .row-low .col{
  padding: 10px 0px;
}

aside .row-low span{
  padding: 0px 10px;
}

aside .row-low .border{
  width: 30px;
  height: 30px;
  background-color: rgb(128, 128, 128);
  border-radius: 50%;
  overflow: hidden;
}


.bar-fixed{
  width: calc(100vw - 230px);
  height: 90px;
  background-color: rgba(8, 11, 18, 0.5);
  position:absolute;
  z-index: 999;
  top: 0px;
  right: 0px;
  justify-content: flex-end;
  align-items: center;
}



.box-body{
  height: calc(100% - 90px);
  overflow: auto;
  margin-top: 90px;
  padding: 20px 15px;
}

.box-body nav{
  width: 100%;
justify-content: center;
align-items: center;
}

.box-body nav ul{
flex-wrap:wrap;
justify-content: center;
}

.box-body nav li{
padding: 15px 25px;
}

.box-body nav li a{
  position: relative;
  display: inline-block;
  text-decoration: none;
 color: gray;
}

.wrap{
width:100%; 
}

.wrap .cart-disc{
  height: 100%;
  width: calc(100% / 6);
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}


.wrap .image-disc img{
width: 100%;
}

.wrap .text-disc{
  text-align: center;
  color: gray;
}

.player{
  width: 100%;
  height: 90px;
  background-color: rgb(40, 40, 40);
  position: sticky;
}

.player .row-player{
 height: 100%;
 width: 100%;
 justify-content: space-between;
}

p{
  color: gray;
}

/* Funzioni before */

.box-body nav a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 50%;
  height: 3px;
  background-color: rgb(173, 255, 47);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: center;
}

.box-body nav a:hover{
  color: white;
}

.box-body nav a:hover::before{
  scale: 1;
}





/* media query 1100 */

@media screen and (max-width:1100px) {

  .wrap{
    flex-wrap: wrap; 
    width:100%;
    }

    .wrap .cart-disc{
      height: 100%;
      width: calc(100% / 5);
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
    }
}

/* media query 768 */

@media screen and (max-width:768px) {
  .box-body{
    height: calc(100% - 90px);
    overflow: auto;
    margin-top: 90px;
    padding: 50px 5px;
  
  }

  .wrap{
    flex-wrap: wrap; 
    width:100%;
    }

    .wrap .cart-disc{
      height: 100%;
      width: calc(100% / 5);
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
    }
}

/* media query 600 */


@media screen and (max-width:600px) {
.content .box-content{
  width: 100%;
}
  aside{
  width: 50px;
  padding: 10px;
 }

 .bar-fixed{
  width: calc(100vw - 50px);
  height: 50px;
}

aside{
  flex-direction: column;
  align-content: center;
}

aside .row-high .image-spotfy-mobile{
  display: inline-block;
}

aside .row-low{
  flex-direction: column;
}

aside .row-low .col .download{
  width: 90%;
  height: 100%;
}

aside .row-low .col .profile{
  width: 100%;
  height: 65%;
}

aside .playlist-top li{
  margin: 5px 0;
}

.desktop,
.playlist-down,
.playlist-top ul li span,
aside .row-high .image-spotfy-desktop,
aside .row-low .col span{
  display: none;
}

.box-body{
  height: calc(100% - 90px);
  overflow: auto;
  margin-top: 90px;

}

.wrap{
  justify-content: center;
  width:100%;
  }

  .wrap .cart-disc{
    height: 100%;
    width: 46%;
    margin: 0px;
    padding: 5px;
  }
}




