*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --padding-15px:15px 15px 0 15px;
}

body{
font-family: 'Montserrat';
}

.ptn-rtv{
  position: relative;
}

.ptn-absl{
  position: absolute;
}

.br-rd{
  border-radius: 50%;
}

.flex{
  display: flex;
}

.flex-d{
  flex-direction: row;
}

h1,h2,h3,h4,h5{
  color: white;
}
.bug{
  background-color: lightgray;
 border: 1px solid black;
}
.bug2{
  background-color: lightgreen;
  min-height: 50px;
  width: 50px;
}

ul{
  list-style: none;
}

.btm{
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 25px;
 

}

.content{
 width: 100vw;
 height: calc(100vh - 80px);
 background-color:rgb(20, 25, 34) ;
 position: relative;
}

.content .box-content{
 width:calc(100% - 230px);
 overflow: auto;
}

aside{
 width: 230px;
 min-height: 450px;
 height: 100%;
 background-color:black;
 color: gray;
 flex-direction: column;
 justify-content: space-between;
 padding-top: 10px;
}

aside .row-high{
  height: calc(100% - 80px);
  flex-direction: column;
  justify-content: flex-start;
}

aside .row-high .image-spotfy-desktop img{
  width: 140px;
  padding: var(--padding-15px);

}

aside .row-high .image-spotfy-mobile{
  display: none;
}

aside .row-high .playlist-top{
  padding-top: 10px;
}

aside .row-high .playlist-top ul li,a{
  vertical-align: middle;
  text-transform:capitalize ;
  font-size: 0.9rem;
  text-decoration: none;
  color: gray;
  padding: 4px 0px;
}

aside .row-high .playlist-top ul li{
  padding: 0px 15px ;
  margin: 10px 0px 0px 0px;
}

aside .row-high .playlist-down{
  height: 100%;
}

aside .row-high .playlist-down .plus {
  padding: 0px 15px ;
  margin: 10px 0px 0px 0px;
}

aside .row-high h3{
  color: white;
  text-transform: capitalize;
  font-size: 1.1rem;
  padding: 15px 0 15px 18px;
}

aside .row-high .playlist-down ul{
  overflow: auto;
  height: calc(100% - 90px);
}

aside .row-high .playlist-down ul li{
  padding: 0px 15px ;
  margin: 10px 0px 0px 0px;
}

aside .img-svg{
width: 26px;
height:26px;
}

aside .row-low{
  height: 90px;
  padding: 0px 15px;
}

aside .row-low .col{
  padding:7px 0px 7px 0px;
  align-items: center;
  justify-content: flex-start;
}

aside .row-low .col:first-child{
border-bottom: 1px solid gray;
}

aside .row-low .col a{
  padding: 0px 4px;
}

aside .row-low .border{
  width: 30px;
  height: 30px;
  background-color: rgb(128, 128, 128);
  border-radius: 50%;
  overflow: hidden;
}

aside .row-low .col h4{
padding: 2px 5px;
text-transform: capitalize;
}

.bar-fixed{
  width: calc(100vw - 230px);
  height: 90px;
  background-color: rgba(154, 184, 255, 0.1);
  position:absolute;
  z-index: 999;
  top: 0px;
  right: 0px;
  justify-content: flex-end;
  align-items: center;
}

.bar-fixed .btm a{
color: white;
font-weight: 600;
text-transform: uppercase;
}

.box-body{
  height:100%;
  overflow: auto;
  padding:110px 15px 20px;
}

.box-body nav{
  width: 100%;
justify-content: center;
align-items: center;
}

.box-body nav ul{
flex-wrap:wrap;
justify-content: center;
}

.box-body nav li{
padding: 15px 25px;
}

.box-body nav li a{
  position: relative;
  display: inline-block;
  text-decoration: none;
 color: gray;
}

.wrap{
width:100%;
 padding:20px 0 ;
}

.wrap .cart-disc{
  height: 100%;
  width: calc(100% / 6);
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}


.wrap .image-disc img{
width: 100%;
}

.wrap .image-disc.br-rd img{
  border-radius: 50%;
}

.wrap .text-disc{
  text-align: center;
  padding: 10px;
  color: gray;
}

.player{
  width: 100%;
  height: 90px;
  background-color: rgb(40, 40, 40);
  position: sticky;
}

.player .row-player{
 height: 100%;
 width: 100%;
 justify-content: space-between;
}

.player .row-player .row-box:nth-child(2){
  width: 50%;
}

.player .row-player .row-box:nth-child(odd){
  width: 320px;
align-items: center;

}

.player .row-player .row-box .col-player{
  width: 60%;
}

.player .row-player .row-box .select-player{
  width: 40%;
}

.player .row-player .row-box .col-player,.select-player{
align-items: center;
}

.player .row-player .row-box .col-player .img-player{
  width: 80px;
  height: 80px;
  padding: 8px;
}

.player .row-player .row-box .col-player .img-player img{
  width: 100%;
  height:100%;
}

.player .row-player .row-box .name-player h5{
  font-size: 1rem;
  text-transform: capitalize;

}

.player .row-player .row-box .name-player span{
  color:gray;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.player .row-player .row-box .select-player i{
padding: 0px 10px;
color: gray;
}

.player .row-player .row-box.last{
  justify-content: space-around;
}

.player .row-player .row-box.last div i{
  color:rgb(255, 255, 255);
  font-size: 0.9rem;
}

.player .row-player .row-box.last div{
padding: 0px 10px;

}

.player .row-player .row-box.last .bar-volume {
  width:130px;
  position: relative;
  height: 5px;
  background-color: gray;
  border-radius: 25px;
}

.player .row-player .row-box.last .bar-volume .bar-volume-white{
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0px;
background-color: white;
border-radius: 25px;
}

.player .row-player .row-box.last .bar-volume .bar-volume-white span{
    position: absolute;
    display: inline-block;
    left:30px;
    transform: translate(-5%, 2%);
    height: 20px;
    width: 20px;
 
    background-color: gray;
    border-radius: 50%;
}



p{
  color: gray;
}

/* pseudo-elementi */

.box-body nav a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 5px);
  width: 75%;
  height: 1.5px;
  background-color: rgb(173, 255, 47);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: center;
}

.box-body nav a:hover::before{
  scale: 1;
}

/* .player .row-player .row-box.last .bar-volume::before{
  content: '';
  display: inline;
  width: 50%;
  height: 10px;
  color: white;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}  */

.box-body nav a:hover{
  color: white;
}

aside .row-high .playlist-down a:hover{
  color: white;
}

aside .row-high .playlist-top ul li a:hover{
  color: white;
}

aside .row-high .playlist-top ul li:hover{
  border-left: 2px solid rgb(173, 255, 47);
}

.bar-fixed .btm:hover{
  scale: 1.1;
  }

 /*  .player .row-player .row-box.last .bar-volume .bar-volume-white:hover{
    display: inline-block;

  }

  .player .row-player .row-box.last .bar-volume .bar-volume-white::after:hover{
    content: '';
    position: absolute;
    display: inline-block;
    display: none;
    left:30px;
    transform: translate(-5%, 2%);
    height: 20px;
    width: 20px;
    color: gray;
    background-color: gray;
    border-radius: 50%;
  } */


/* media query 1100 */

@media screen and (max-width:1100px) {

  .wrap{
    flex-wrap: wrap; 
    width:100%;
    }

    .wrap .cart-disc{
      height: 100%;
      width: calc(100% / 5);
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
    }
}

/* media query 768 */

@media screen and (max-width:768px) {
  .box-body{
    height: calc(100% - 90px);
    overflow: auto;
    margin-top: 90px;
    padding: 50px 5px;
  
  }

  .wrap{
    flex-wrap: wrap; 
    width:100%;
    }

    .wrap .cart-disc{
      height: 100%;
      width: 46%;
      margin: 0px;
      padding: 5px;
    }

}

/* media query 600 */


@media screen and (max-width:600px) {
.content .box-content{
  width: 100%;
}
  aside{
  width: 50px;
  padding: 10px;
 }

 .bar-fixed{
  width: calc(100vw - 50px);
  background-color: rgba(8, 11, 18, 0.2);

}

aside{
  flex-direction: column;
  align-content: center;
}

aside .row-high .image-spotfy-mobile{
  display: inline-block;
}

aside .row-low{
  flex-direction: column;
}

aside .row-low .col .download{
  width: 90%;
  height: 100%;
}

aside .row-low .col .profile{
  width: 100%;
  height: 65%;
}

aside .playlist-top li{
  margin: 5px 0;
}

.desktop,
.playlist-down,
.playlist-top ul li span,
aside .row-high .image-spotfy-desktop,
aside .row-low .col span{
  display: none;
}

.box-body{
  height: calc(100% - 90px);
  overflow: auto;
  margin-top: 90px;

}

.wrap{
  justify-content: center;
  width:100%;
  }

  .wrap .cart-disc{
    height: 100%;
    width: 46%;
    margin: 0px;
    padding: 5px;
  }
}




